@font-face {
    font-family: "Lato";
    src: url(./assets/Fonts/Lato-font/Lato-Black.woff) format("woff"),
         url(./assets/Fonts/Lato-font/Lato-Black.woff2) format("woff2");
         font-style: normal;
         font-weight: 300;
         font-display: swap;    
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont,
                 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
                 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

header {
    background-color: rgb(210, 231, 210);
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    box-shadow: 0 5px 7px gray;
    margin-bottom: 10px;
}

h3 {
    margin: 1rem 2rem;
}

h3 span {
    display: block;
}

header form {
    text-align: center;
    margin: 1rem;
}

header ul {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

header button {
    border-radius: 20px;
    padding:  1rem 2rem;
    color: white;
    background: linear-gradient(rgb(26, 109, 98),
                                rgb(213, 235, 232)) ;
    box-shadow: 5px 5px 10px black;
}

header button:hover {
    color: black;
    cursor: pointer;
    background: rgb(101, 107, 10);
}

input {
    width: 80%;
    margin: 1rem;
    height: 2rem;
    border-radius: 20px;
    padding-left: 1.5rem;
    cursor: pointer;
}

label {
    position: relative;
}

.search-icon {
    position: absolute;
    left: -2rem;
    top: 50%;
    transform: translateY(-50%);
    filter: drop-shadow(5px 5px 5px black);
    cursor: pointer;
}

header h2 {
    text-align: end;
    margin: 1rem 2rem 1rem 0;
    align-self: center;
}

.profile {
    position: relative;
    margin: 1rem;
    display: flex;
    justify-content: flex-end;
}

.morgan {
    position: relative;
    left: -1rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.welcome {
    justify-content: flex-start;
    margin-top: 0;
}

.welcome > .morgan {
    height: 6rem;
    width: 6rem;
    left: 1rem;
    align-self: center;
}

.bell-icon {
    left: 45rem;
    filter: drop-shadow(4px 4px 5px black);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

aside {
    color: white;
    background-color: rgb(26, 109, 98);
    grid-row: 1 / 3;
}

main {
    background-color: rgb(245, 245, 245);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

ul {
    list-style: none;
}

.sidebar-navigation ul {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 1.5rem;
}

.first-item {
    font-size: 1.5rem;
    margin-bottom: 4rem;
}


.margin-top {
    margin-top: 4rem;
}

li {
    margin: 2rem;
    position: relative;
}

li:hover {
    color: black;
    cursor: pointer;
}

.projects {
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: max-content;
    gap: 15px;
}

.projects > * {
    margin: 1rem;
} 

.projects > h2 {
    grid-column: 1 / -1;
}

.projects > article {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    border-left: 6px solid rgb(101, 107, 10);
    box-shadow: 5px 5px 10px gray;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-icons {
    align-self: flex-end ;
    display: flex;
    gap: 25px;
}

.card-icons > img {
    position: static;
}

.card-icons > img:hover {
    cursor: pointer;
    filter: drop-shadow(4px 4px 4px green);
}

.announcements-contents {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    margin: 2rem 1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}

.announcements-contents > *:hover {
    cursor: pointer;
    color: rgb(101, 107, 10);
}

.border {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 1rem 0;
}

.announcements > h2 {
    margin: 1rem;
}

.announcements

.trending > h2 {
    margin: 1rem;
}

.trending span {
    display: block;
}

img {
    position: absolute;
    left: -3rem;
    height: 2rem;
    width: auto;
}

