* {
    margin: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

header {
    background-color: aqua;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
}

h3 {
    margin: 1rem 2rem;
}

h3 span {
    display: block;
}

header form {
    text-align: center;
    margin: 1rem;
}

header ul {
    display: flex;
    justify-content: flex-end;
}

input {
    width: 80%;
}

header h2 {
    text-align: end;
    margin: 1rem;
}

aside {
    background-color: yellowgreen;
    grid-row: 1 / 3;
}

main {
    background-color: palevioletred;
}

ul {
    list-style: none;
}

.sidebar-navigation ul {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 1.5rem;
}

.first-item {
    font-size: 1.5rem;
    margin-bottom: 4rem;
}

.margin-top {
    margin-top: 4rem;
}

ul li {
    margin: 2rem;
}

